@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock:wght@400;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
#menu ul{
    list-style: none;
    text-align: center;
    font-family: 'Constantia';
    font-size: larger;
    position: relative;
    border-right:0;
    width: 100%;
    height: 100%;
    background-color: rgb(11, 25, 62) ;

}
#menu ul li{
    display: inline-block;
}
#menu ul li a{
    color:rgb(216, 232, 247);
    display: block;
    padding: 10px;
    text-decoration: none;
}
#menu ul li a:hover{
    background-color: rgb(173,203,229);
}
#body{
    height: 100%;
    width: 80%;
    background-color: rgb(216,232,247);
   margin: auto;
   margin-top: 1%;
   margin-bottom: 1%;
   
}

#footer{
    width: 100%;
    background-color: rgb(11, 25, 62);
}
#contact{
    margin: auto;
    margin-left: 10%;
    font-family: 'Constantia';
    color: rgb(216, 232, 247) ;
    list-style: none;
}
#div_forma{
    width: 100%;
    height: 100%;
    background-color: rgb(11, 25, 62);
    margin-left: 0%;
    margin-right: 0%;
}
.linea{
    size: 2px;
    color: rgb(216, 232, 247);
    margin-top: 1%;
}
.fondo .calen {
	padding: 20px;
	text-align: center;

}

.bottomText{
    margin: auto;
    margin-left: 10%;
    font-family: 'Constantia';
    color: rgb(216, 232, 247) ;
    margin-top: 1%;
}
.fondo{
    background-color: rgb(255, 255, 255);    
}

.altura
{
    position: fixed;
    width: 100%;
    height: 100%;
}
.atrib_logo{
    width: 100pt;
    height: 10%;
    position: left;
}

.slider{
    display: flex;
    width: 100%;
    height: 70vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.slider img{
    flex: 0 0 100%;
    width: 100%;
    object-fit:cover;
    scroll-snap-align: center;
}

.textH1{
    font-family: 'Constantia';
    font-size: medium;
}
.textH3{
    font-family: 'Constantia';
    font-size: small;
}
.boton {
    background-color: rgb(11, 25, 62);
    border: 1px;
    color: rgb(216, 232, 247);
    font-family: 'Constantia';
    text-align: center;
    margin: 1px 3px;
}
.center{
    text-align: center;
}
.pos_redes
{
   text-align: right;
    padding-right: 10%;
    
}.fondo .divapply {
	text-align: center;
}
.fondo .divapply h1 {
	margin: 50px;
	font-size: 30px;
	color: #0B193E;
}

.fondo .appy {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.fondo .appy div {
	background-color: #0B193E;
	margin: 30px;
	padding: 20px;
	border-radius: 25px;
	color: #FFFFFF;
}
.fondo .appy div.img {
	padding: 20px;
	margin: 30px;


}
.appy div.img h3 {
	margin: 30px;
	padding: 50px;
	text-align: center;
	justify-content: center;
	display: center;
	align-items: center;
}
.appy div.img h1 {
	text-align: center;
}




* {box-sizing: border-box;}
.fondo .appy div a {
}
.fondo .appy div a:hover {
	color: #8491F3;

}


ul {list-style-type: none;}
body {font-family: 'Constantia';
	
}



.month {
	padding: 70px 25px;
	width: 100%;
	background-color: #8491F3;
	text-align: center;
}



.month ul {
  margin: 0;
  padding: 0;
}



.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}



.month .prev {
  float: left;
  padding-top: 10px;
}



.month .next {
  float: right;
  padding-top: 10px;
}



.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}



.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}



.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}



.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}



.days li .active {
	padding: 5px;
	background-color: #8491F3;
	color: white !important
}

.fondo #body div {
	text-align: center;
}
.column .content a {
	background-color: #0B193E;
	padding: 5px;
	color: #FFFFFF;
}
.column .content a:hover  {
	color: #8491F3;
}
.div.home .center a {
}
.div.home .center a:hover {
	color: #8491F3;
}








/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
.fondo .calen {
	width: 80px;

}

}



@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}



@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}
.animate__delay-1s {
}


.row {
	margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}
.fondo main {
}
.fondo main section {
	width: 90%;
	text-align: center;
	color: #8491F3;
	font-size: 20px;
}



/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
